#contact-form {
  width: 40%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color:black;
  background-color: #CBC0D3;
}

label {
  color:black;
  background-color: azure;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
