:root {
    --white: #eff0f3;
    --mint: #abd1c6;
    --yellow: #F9BC60;
    --light: #fafafa;
    --dark: #000000;
    --coral: #E16162;
    --green: #004643;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}


