:root {
    --manatee: #8E9AAF;
    --lavender: #CBC0D3;
    --pink: #EFD3D7;
    --light: #fafafa;
    --dark: #000000;
    --palePurple: #FEEAFA;
    --lavendarWeb: #DEE2FF;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: large;
    color: var(--dark);
}

p {
    font-size: medium;
    color: var(--dark);
}
